.feed {
    width: 100%;
    border-right: 1px solid var(--secondary-color);
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 1;
    border-bottom: 1px solid var(--secondary-color);
    padding: 15px 20px;
  }
  
  .feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  @media (min-width: 1000px) {
    .feed {
      width: 50%;
    }
  }