body {
  --background-color: #fff;
  --primary-color: #2291DA;
  --primary-light-color: #e8f5fe;
  --secondary-color: #e6ecf0;
  --light-secondary-color: #f5f8fa;
  --dark-secondary-color: rgb(138, 133, 133);
  --text-color: #000;
}

body.dark-theme{
  --background-color: #000;
  --primary-color: #88b2ce;
  --primary-light-color: #868e94;
  --secondary-color: rgb(47, 51, 54);
  --light-secondary-color: #505050;
  --dark-secondary-color: rgb(205, 200, 200);
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
}

.app {
  display: flex;
  height: 100%;
  max-width: 1300px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  background-color: var(--background-color);
  color: var(--text-color);
}